<ion-view view-title="Discrete Mathematics at Somerville High School">
  <ion-content>
    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->
<center> <h1> <u> Logic Exercises </h1> </u>
  <br>
  <h3> Please use the tab menu to the left and select a logic exercise. </h3>
    <br> <h4> <i> Ask Mr. Reidy if you need help completing the exercising. <br> It would be helpful if you had your symbol sheet in front of you while you completed each exercise. </i> </h4>

  </ion-content>
</ion-view>
